*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding:0;
}

/*html, body {*/
/*  height: 100%;*/
/*}*/

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  color: black;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f7f7f7;
}

#root {
  /*height: 100%;*/

  /*--black: #2b2a2c;*/
}

/*.container {*/
/*  width: 100%;*/
/*  max-width: 1200px;*/
/*  padding-left: 1rem;*/
/*  padding-right: 1rem;*/
/*  margin: 0 auto;*/
/*  overflow: hidden;*/
/*  overscroll-behavior-x: none;*/
/*}*/

